---
title: Blog
description: 'random thoughts'
layout: 'blog.hbs'
---


{{#compose src='*/*.md' cwd='site/pages/blog' sortBy="published" sortOrder="desc"}}

<div class="lft-blogpost-preview">

  <div class="published">
    {{ moment @published format="DD MMM YYYY" }}
  </div>

  <h2 class="page-header"><a href="posts/{{@slug}}.html">{{ @title }}</a></h2>

  <div class="content">
    {{#excerpt @slug}}
      {{{@content}}}
    {{/excerpt}}
  </div>

  <div class="meta">
    Posted by {{ author @author }}.
  </div>
</div>

<hr class="half-rule">

{{/compose}}